.container {
    
    max-width: 400px;
    margin: 0 auto;
    padding: 80px;
    border: 10px solid #ccc;
    border-radius: 100px;
    box-shadow: 10px 10px 10px rgba(11, 19, 94, 0.1);
  }


  .form-label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .form-control {
    justify-content: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    display: inline-block;
    margin-right: 5px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  .btn-secondary {
    background-color: #007bff;
  }
  
  .btn-secondary:hover {
    background-color: #0056b3;
  }
  